<link href='https://fonts.googleapis.com/css?family=Oswald:400,700,600|Titillium+Web:400,600' rel='stylesheet' type='text/css'>

<head>
   <link rel='stylesheet' href='/stylesheets/landingstyle.css' />
</head>
<body >
  <img class="cloud cloud1" src="./assets/cloud.png">
  <img class="cloud cloud2" src="./assets/cloud.png">
  <img class="cloud cloud3" src="./assets/cloud.png">
  <img class="cloud cloud4" src="./assets/cloud.png">
  <div class="topBar">
    <a href="/login" class="btn loginButton">LOG IN</a>
    <a href="/register" class="btn loginButton">SIGN UP</a>
  </div>
  <br>
  <div class="blue"></div>
  <div class="middle">
    <img class="logo" src="./assets/sunnylogo.png">
    <h1>HAPPIAPP</h1><br>
    <h2>Be a light to your friends. LOL.</h2><br>
    <a href="/login" class="btn goToApp">GO TO APP</a>
  </div>
</body>
