<h3>Welcome to HappiApp!</h3>
<p>Prepare to feel happi :)</p>

<br>

<span>Need a pick-me-up?</span><br>
<!-- Our Go-to-App button -->
<a href="/protected" class="btn btn-primary">Get Happi :D</a>
<!-- Login button -->
<a href="/login" class="btn btn-primary">Login :D</a>
<!-- Go to registration page button -->
<a href="/signup" class="btn btn-primary">Make an Account :D</a>
