<head>
    <link rel='stylesheet' href='/stylesheets/signup.css' />
</head>

{{#if error}}
<div>
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{error}}
</div>
{{/if}}
<div id="signup-box">
<form method="POST">
  <h2>LOGIN</h2>
  <div class="form-group">
    <input type="text" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <input type="password" name="password" placeholder="Password">
  </div>
  <div class="form-group">
    <button class="btn signup-button">Login</button></br></br>
    <a href="/signup">Not a user? Register.</a></br>
    <a href="/">Learn more. </a>
  </div>
</form>
</div>
