<form method="POST" style="max-width: 400px; margin: auto; margin-top: 50px; border: 0.5px solid gray; padding: 30px 30px 30px 30px">
  <!-- Header -->
  <h3 style="color: yellow">Welcome to HappiApp :)</h3>
  <!-- Form attributes -->
  <h4 style="color: blue">Your Profile Information</h4>
  <div class="form-group">
    <label>Username</label>
  </div>
  <div class="form-group">
    <label>Password</label>
  </div>
  <div class="form-group">
    <label>Birthday</label>
  </div>
  <div class="form-group">
    <label>Email Address</label>
  </div>
  <div class="form-group">
    <label>City</label>
  </div>
  <div class="form-group">
    <label>School or Company</label>
  </div>
  <div class="form-group">
    <label>User Bio</label>
  </div>
  <h4 style="color: blue">Your Profile Settings</h4>

  <div class="form-group">
    <button class="btn btn-success">Button</button>
  </div>
</form>
