
<div class="userbox" style="width: 33%; background-color: gray; padding: 5px">
  <center>
    <form style="max-width: 300px; margin: auto; margin-top: 50px; border: 0.5px solid gray; padding: 30px 30px 30px 30px">
    <h3>Send an anonymous message!</h3>
      <div class="form-group">
        <label>Who do you want to complement?</label>
        <input id="recipient" name="recipient" class="form-control" placeholder="Pick a friend...">
      </div>
      <div class="form-group">
        <label>What do you want to say?</label>
        <textarea id="msgContent" name="content" class="form-control" placeholder="Send them a message to make them smile :)"></textarea>
      </div>
      <div class="form-group">
        <label>Reveal your identity</label>
        <input id="checkBox" type="checkbox">
      </div>
      <div class="form-group">
        <button id="newMessage" type="submit" class="btn btn-info">Send a message</button>
      </div>
    </form>

    <form class="form-group" method="get" action="/contacts/new">
      <button type="submit" class="btn btn-success">Find a new friend</button>
    </form>

  </center>
</div>

<br>

<div class="messagebox" style="width: 66%; background-color: gray; padding: 5px">
  <center>
    <h3>Message Threads</h3>
    <form class="form-group">
      <button type="submit" class="btn btn-primary">View Sent</button>
      <button type="submit" class="btn btn-primary">View Received</button>
    </form>
    <div id="#messages" style="border: 2px solid black; border-radius: 5px; padding: 7px; margin: 6px;
                width: 40%; background-color: rgb(128, 167, 229); text-align: left">
    </div>
    <div class="form-group">
      <textarea id="msgContent" name="content" class="form-control" placeholder="Keep the conversation going :)"></textarea>
      <button id="newReply" type="submit" class="btn btn-info">Reply</button>
    </div>
  </br>
  </center>

  <br>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script>
  var socket = io('localhost:3000');

  // Receive emits from routes.js when new message is posted
  socket.on('newMessage', function(thread) {
    // add message to message thread body
    $('#messages').append(thread)
  })
  socket.on('negativeMessage', function() {

  })
  socket.on('dirtyMessage', function() {

  })

  // Receive emits from routes.js when new REPLY is posted
  socket.on('newReply', function(thread) {
    // add message to message thread body
  })
  socket.on('negativeReply', function() {

  })
  socket.on('dirtyReply', function() {

  })

  // When New Message button is pushed
  $('#newMessage').click(function(event) {
    event.preventDefault();
    var bodyMsg = $('#msgContent').val();
    var to = $('#recipient').val();
    var anon = $('#anon').is(":checked");
    $('#msgContent').val('')
    $('#recipient').val('')
    $('#anon').val('')
    socket.emit('newMessage', {
      content: bodyMsg,
      receiver: to,
      anon: anon
    })
  })

  // When Reply button is pushed; See Leo's spec for more information
  $('#newReply').click(function() {
    socket.emit('newReply', {

    })
  })


</script>
