
body {
  background-color: #FFCD66;
  width: 100%;
  height: 100%;
}

.topBar {
  display: flex;
  justify-content: flex-end;
}

.logo{
  width: 250px;
  height: 250px;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  -webkit-animation-name:             rotate;
  -webkit-animation-duration:         13s;
  -webkit-animation-iteration-count:  infinite;
  -webkit-animation-timing-function: linear;

}

.loginButton {
  flex: right;
  background-color: #93DCE3;
  border: 2px solid white;
  color: white;
  font-family: 'Oswald';
  font-size: 16px;
  margin-left: 10px;
}

.goToApp {
  background-color: #B8E986;
  color: white;
  font-family: 'Oswald';
  font-size: 32px;
  border-radius: 30px;
}

.middle {
  margin-top: 92px;
  border-left: 500px;
  border-right: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cloud1{
  height: 100px;
  position: absolute;
  top: 20%;
  animation: float 9s ease-in-out infinite;
}

.cloud2{
  height: 100px;
  position: absolute;
  left: 60%;
  top: 20%;
  animation: float 6s ease-in-out infinite;
}

.cloud3{
  height: 100px;
  position: absolute;
  left: 26%;
  top: 13%;
  animation: float 7s ease-in-out infinite;
}

.cloud4{
  height: 100px;
  position: absolute;
  left: 75%;
  top: 13%;
  animation: float 8s ease-in-out infinite;
}

.blue{
  background-color: #93DCE3;
  position: absolute;
  top: 0%;
  left: 0%;
  height: 280px;
  width: 100%;
  z-index: -10;
}

h1 {
  color: white;
  font-family: 'Oswald';
  font-size: 80px;
}

h2 {
  color: white;
  font-family: 'Oswald';
  font-size: 46px;
}

.cloud:hover {
 animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
 transform: translate3d(0, 0, 0);
 backface-visibility: hidden;
 perspective: 1000px;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes shake {
 10%, 90% {
   transform: translate3d(-1px, 0, 0);
 }

 20%, 80% {
   transform: translate3d(2px, 0, 0);
 }

 30%, 50%, 70% {
   transform: translate3d(-4px, 0, 0);
 }

 40%, 60% {
   transform: translate3d(4px, 0, 0);
 }
 }

 @keyframes float {
 	0% {
 		/*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
 		transform: translatey(0px);
 	}
 	50% {
 		/*box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);*/
 		transform: translatey(-20px);
 	}
 	100% {
 		/*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
 		transform: translatey(0px);
 	}
 }
