body {
  margin: auto;
  font: 14px "Open Sans", Helvetica, Arial, sans-serif, 'Oswald';
  display: flex;
  justify-content: center;
  align-items: top;
}

#navbar {
    font-family: 'Oswald';
    background-color: #93DCE3;
    border: 0px;
    color: white;
    font-size: 50px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
}

.login-buttons {
    display: flex;
    flex-direction: row;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logout-button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 5px;
    margin: 5px; 
}

a {
    color: white;
}
