body {
  margin: auto;
  font: 14px "Open Sans", Helvetica, Arial, sans-serif, 'Oswald';
  display: flex;
  justify-content: center;
  align-items: top;
  font-family: 'Oswald';
  background-image: "./assets/bg.png";
  background-color: #FFCD66;
}

#all {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
}

#background {
    position: fixed;
    z-index: -10;
}

.userbox, .messagebox {
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    background-color: #F5F5F5;
    font-family: 'Avenir Next Condensed'
}

.userbox {
    width: 300px;
    height: 380px;
    color: #93DCE3;
}

.changer {
  background-color: #F5F5F5;
}
#changer-active{
  background-color: #f44242;
}

.friendpicker {
    width: 100%;
}

.messagebox {
    width: 800px;
    height: 100vh;
}

.profile {
    display: flex;
    flex-direction: row;
    font-family: 'Avenir Next Condensed'
}

.profile-contents {
    margin-left: 20px;
    color: black;

}

.profile-name {
    font-size: 25px;
}

.profile-pic {
    height: 80px;
    border-radius: 40px;
}

button {
    text-transform: uppercase;
    border: 0px;
    background-color:#FFCD66;
    color: white;
    font-family: 'Oswald';
    outline: 0;
}

button:focus {
    outline: 0;
}

.toggle-sent, .toggle-received {
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
}



.toggle-sent {
    background-color: transparent;
    color: lightgrey;
}

.toggle {
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    border: 2px solid lightgrey;
    width: 167px;
    font-size: 15px;
    border-radius: 25px;
}

#receiveBtn:hover, #sendBtn:hover {
    color: white;
}

.toggle:hover {
    background-color: lightgrey;
    color: white;
}


#message {
    background-color: white;
    padding: 15px;
    font-size: 20px;
    border: 0.5px solid lightgrey;
    border-radius: 10px;
}

#message-pic {
    height: 40px;
    border-radius: 40px;
}

.message-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.message-row-row {
    display: flex;
    flex-direction: row;
}

.first-contents {
    margin-left: 20px;
}

.first-from {
    color: lightgrey;
    font-size: 15px;
}

.reply {
    font-size: 18px;
    border: 0.3px solid #93DCE3;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

#reply-pic {
    height: 30px;
    border-radius: 30px;
    margin-right: 10px;
}

.user-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 35px;
}

.reply-input {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.thread-pic {
    height: 30px;
}

#newReply {
    margin-left: 10px;
}

#msgContent {
    height: 50px;
    margin-right: 10px;
}
